<!DOCTYPE html>
<html>
    <head>
        <title>Detalles de Productos</title>
    </head>
    <body>
        <div class="container">
            <h3><a href="/products">Lista de Productos</a></h3>
            <h1>Detalle de Productos</h1>
            <table>
                <tbody>
                    <tr>
                        <td>Nombre</td>
                        <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                        <td>Precio</td>
                        <td>{{ product.price }}</td>
                    </tr>
                </tbody>
            </table>
            <h3><a href="/products/edit/{{ product._id }}">EDITAR</a></h3>
            <form action="/products/delete/{{ product._id }}" method="post">
                <button type="submit">BORRAR</button>
            </form>
        </div>
    </body>
</html>